::-webkit-scrollbar
{
    display: none;
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: rgb(15, 15, 15);
    color: gold;
}
.titre1
{
    text-align: center;
    color: rgb(250, 212, 0);
    font-size: 50px;
    position: relative;
    padding: 5px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 35px auto;
    text-decoration: underline;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
}
.note
{
    margin-left: 100px;
    margin-bottom: 25px;
    color: white;
}
.navbar
{
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a
{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.form1
{
    padding-top: 20px;
    padding-left: 20px;
}
.titre
{
    text-align: center;
}
.afficher
{
    height:200px;
    width:140px;
}
.tableau
{
    margin: 0px auto;
    margin-top: 150px;
    font-size: 20px;
}
.banner
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.login
{
    width: 50px;
    height: 50px;
    padding-top: 40px;
    padding-right: 20px;
}
.warp
{
    background-color: #1F1F1F;
    border-radius: 15px;
    padding-bottom: 15px;
    animation: TransitionIn 1.2s;
}
@keyframes TransitionIn
{
    from {
        margin-top: 1000px;
    }
    to {
        margin-top: 0px;
    }
}
.home:active
{
    background-color: gold;
}
.logo
{
    width: 170px;
    height: 120px;
    padding-top: 25px;
}
.accepte
{
    padding: 15px 35px 15px 35px;
    background-color: #1F1F1F;
    border: red 1px solid;
    border-radius: 15px;
    color: gold;
    cursor: pointer;
}
.last-social
{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Inter,sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: end;
}
.texte-reseau
{
    font-size: 25px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reseaux-logo a
{
    margin-right: 30px;
    font-size: 40px;
    color: white;
}
.reseaux-logo ion-icon:hover
{
    font-size: 43px;
}
.reseaux-logo ion-icon
{
    margin-top: 7px;
}
.reseaux-logo a:hover:nth-child(1)
{
    background: transparent;
    color: blue;
}
.reseaux-logo a:hover:nth-child(2)
{
    background: transparent;
    color: orange
}.reseaux-logo a:hover:nth-child(3)
{
    background: transparent;
    color: skyblue;
}.reseaux-logo a:hover:nth-child(4)
{
    background: transparent;
    color: red;
}