*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(15, 15, 15);
    color: gold;
}
.titre1
{
    text-align: center;
    color: rgb(250, 212, 0);
    font-size: 50px;
    position: relative;
    padding: 5px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 35px auto;
    text-decoration: underline;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
}
.navbar
{
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a
{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.banner
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.login
{
    width: 50px;
    height: 50px;
    padding-top: 40px;
    padding-right: 20px;
}
.form1
{
    padding-top:150px;
    font-size:25px;
}
.tableau
{
    margin-top: 50px;
}
.tableau tr
{
    font-size:25px;
}
.home:active
{
    background-color: gold;
}
.logo
{
    width: 170px;
    height: 120px;
    padding-top: 25px;
}
.last-social
{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Inter,sans-serif;
    display: flex;
    /* padding-left: 128vh; */
    align-items: center;
    position: fixed;
    margin-top: 385px;
    justify-content: end;
}
.texte-reseau
{
    font-size: 25px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reseaux-logo a
{
    margin-right: 30px;
    font-size: 40px;
    color: white !important;
}
.reseaux-logo ion-icon:hover
{
    font-size: 45px;
}
.reseaux-logo ion-icon
{
    margin-top: 10px;
}